:root {
  --bg-primary: linear-gradient(#222c31, #111d32);
  --bg-error: #f0d9e5;

  --text-light: #fff;
  --text-primary: #d9e2f1;
  --text-secondary: #b6cad5;
  --text-tertiary: #3c4249;
  --text-error: #890b35;

  --accent-color: #e30d7c;
  --accent-color-hover: #e30d5b;

  --transition: all 0.3s ease 0s;
}
