.image-picker {
  ul {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 0.5rem;
  }

  span {
    font-weight: bold;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
    color: var(--text-shadowed);
    text-transform: uppercase;
  }
}

.image-picker-item {
  width: 4rem;
  height: 3rem;
  border: 2px solid transparent;
  border-radius: 4px;
  overflow: hidden;

  &.selected {
    border-color: #e30d7c;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
