.events-list {
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  border: 2px solid pink;
  gap: 3rem;

  & > * {
    flex: 1;
  }
}
